*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --ff-body:'Open Sans', sans-serif;
    --ff-headings:'Raleway', sans-serif;
    --fw-400:400;
    --fw-700:700;
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --light-bright-blue:hsl(224, 89%, 69%);
}

h1,h2,button{
    font-family: var(--ff-headings);
    font-weight: var(--fw-700);
    text-align: center;
}
p,a{
    font-family: var(--ff-body);
    color:var(--Desaturated-Blue);
    font-size:1.1rem;
    line-height:1.6;
    font-weight: var(--fw-400);
}
.page-container{
    overflow: hidden;
}
.container{
    width:90%;
    margin:0 auto;
    max-width:1024px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1em;
    padding:2em 0;
}
.logo{
    width:6rem;
}
ul li{
    display: inline-block;
    margin-left:1em;
}
.section{
    display:grid;
    grid-template-columns: 1fr;
    gap:2em;
    padding:5em 0;
}
.illustrations{
    width:100%;
}

.welcome-heading,.welcome-para{
    color:var(--Very-Dark-Blue);
    text-align: center;
}
.welcome-para{
    padding:2em 0;
}

input{
    width:100%;
    padding:1.3em 2.2em;
    font-size: 1.1rem;
    color:var(--Light-Gray);
    border:.1em solid var(--Very-Dark-Blue);
    border-radius: .4em;
    margin-bottom:1em;
}

button{
    width:100%;
    padding:1.3em;
    color:var(--Light-Grayish-Blue);
    background-color: var(--Bright-Blue);
    font-size: 1.1rem;
    border-radius: .4em;
    cursor: pointer;
    border:0;
}

.testimonial-section,.early-access-section,.footer-section{
    padding-left:20em;
    padding-right: 20em;
    margin-left: -20em;
    margin-right: -20em;
}
.testimonial-section{
    background-color: var(--Light-Grayish-Blue);
    position:relative;
    margin-top:6em;
}
.testimonial-section::before{
    content:'';
    position:absolute;
    background-image: url(./images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top:-3em;
    right:0;
    z-index:1000;
    height:8em;
    width:100%;
}
.testimonial-section p{
    margin:1em 0;
    color:var(--Desaturated-Blue);
}

.how-fylo-works{
    padding-bottom: 1em;
    border-bottom:.1em solid var(--Moderate-Cyan);
    color: var(--Moderate-Cyan);
}
.blockquote-div{
    width:75%;
    box-shadow: 0 0 2em var(--Light-Gray);
    background-color: var(--Light-Grayish-Blue);
    border-radius: .2em;
    margin: 2em auto 0;
    padding:1.5em;
}
blockquote{
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: .8rem;
    color: var(--Very-Dark-Blue);
    line-height: 1.5;
}
.person-div{
    display: flex;
    align-items: center;
    gap:.6em;
    margin-top:1em;
}

.person-img{
    width:2rem;
    border-radius: 50%;
}

.name,.job{
    font-weight: var(--fw-700);
    font-family: var(--ff-body);
    text-align: left;
    display: block;
    padding:.2em;
    margin-left:0;
}
.name{
    font-size: .9rem;
    color:var(--Very-Dark-Blue);
}
.job{
    font-size: .6rem;
    color:var(--Desaturated-Blue);
}
.early-access-section{
    background-color: var(--Desaturated-Blue);
}
.access-content-div h2,p{
    color:var(--Light-Grayish-Blue);
}

.access-content-div p{
    padding:1em 0;
    text-align: center;
}

.access-content-div input,.access-content-div button{
    display: block;
    width:75%;
    margin:.7em auto;
    padding:1em 1.2em;
    border-radius: .2em;

}
.footer-section{
    background-color: var(--Very-Dark-Blue);
}

.col2,.col3{
    display: flex;
    flex-direction: column;
    gap:.8em;
}
.col2 a,.col3 a{
    color:white;
}

.contact-details{
    margin-top:1em;
    display: flex;
    color:white;
    gap:2em;
    align-items:center ;

}
.col4 img{
    background-color:white;
    margin:.5em;
    cursor: pointer;
    width:2.5rem;
    padding: .2em;
    border-radius:15em;
}
.col2 a:hover,
.col3 a:hover{
    color:var(--Desaturated-Blue);
}
.col4 img:hover{
    background-color: var(--Desaturated-Blue);
}
button:hover{
    background-color: var(--light-bright-blue);
}
@media screen and (min-width:768px){
    .section{
        justify-content: center;
        align-items: center;
    }
    .welcome-section,.testimonial-section,.early-access-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap:3em;
    }
    .img-div{
        grid-column: 2/3;
    }
    .content-div{
        grid-column: 1/2;
        grid-row:1/2
    }
    .footer-section{
        grid-template-columns:2fr repeat(3,1fr);
    }
    .logo{
        width:10rem;
    }
    .testimonial-section::before{
    background-image: url(./images/bg-curve-desktop.svg);
    }

}